html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::after::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-medium.ttf");
  font-weight: 500;
  font-style: normal;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0 auto;
  line-height: 1.6;
  font-family: "Gilroy", sans-serif;
}

.container {
  padding: 0 45px;
  max-width: 1205px;
  width: 100%;
  margin: 0 auto;
}

.home {
  margin-top: 42px;
}

.home__page {
  display: flex;
  flex-direction: column;
  gap: 84px;
}

.header {
  width: 100%;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  width: 137px;
  height: 40px;
}

.header__menu-list {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.header__item {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header__item:hover .header__link {
  color: #f25822;
}

.header__link {
  transition: color 0.3s ease-in-out;
}

.header__item-list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header__item-list::after {
  content: url(/images/arrow.svg);

  transition: transform 0.3s ease-in-out;
}

.header__item-list:hover::after {
  transform: translateY(2px) rotate(180deg);
}

.home__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.home__meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 50%;
}

.title__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.title__title {
  color: #000;
  font-size: 45px;
  font-weight: bold;
  line-height: 120%;
  text-align: left;
  position: relative;
  margin-top: 30px;
}

.home__title-title {
  font-size: 60px;
  font-weight: 700;
}

.home__title-title::before {
  content: "";
  position: absolute;
  top: 75px;
  left: -25px;
  width: 314px;
  height: 75px;
  border: 1px solid #f25822;
  border-radius: 50%;
}

.title__subtitle {
  color: #888;

  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

.button__meta {
  display: flex;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.button {
  display: flex;
  width: 140px;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 56px;
  border: 1px solid transparent;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 25px 0;
}

.button__text {
  color: #aaa;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.button__image {
  width: 30px;
  height: 30px;
}

.brend {
  margin-top: 42px;
}

.brend__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.brend__list {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 100px 0px;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.about-us {
  position: relative;
  background: #fafafa;
}

.about-us::before {
  content: "";
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/element.svg");
  z-index: -1;
}

.about-us__container {
  display: flex;
  align-items: center;
}

.about-us__title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-us__tittle-text {
  color: #000;
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
}

.about-us__image {
  width: 60%;
  max-width: 650px;
}

.features__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
  margin: 75px auto;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  transition: transform 0.3s ease-in-out;
}

.features__item:hover {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  transform: translateY(1.2);
}

.title-card {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.text-card {
  font-weight: 400;
  color: #666;
  font-size: 15px;
  font-style: normal;
  line-height: 150%;
}

.features__item-image {
  width: 70px;
  height: 70px;
}

.button-card {
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

.services__container {
  display: flex;
  background: #fafafa;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.services__title {
  width: 60%;
  align-items: center;
}

.services__title-paragraph {
  text-align: center;
}

.services__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.services__card {
  background: #fff;
}

.services__card:hover {
  background: #fff;
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.services__down-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.title__down-block-text {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.title__paragreph-text {
  color: #666;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.footer {
  background: #f3f3f3;
}
/* #3b5998 */

.social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
}

.social__link:hover svg circle {
  fill: red;
}

.social__link:hover svg path {
  fill: #fff;
}

.footer__top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

.social__logo {
  width: 180px;
}

.footer__text-text {
  max-width: 270px;
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.footer__item {
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 230%;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__item {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 10px;
}

.footer__bottom {
  text-align: center;
  padding: 20px;
}

.footer__copyright {
  margin: 0;
}
