html {
  box-sizing: border-box;
}

*,
::after::before {
  box-sizing: inherit;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  padding: 0 15px;
  max-width: 1205px;
  width: 100%;
  margin: 75px auto;
}

.home {
  margin-top: 42px;
}

.home__page {
  display: flex;
  flex-direction: column;
  gap: 84px;
  margin: 0 auto;
}

.header {
  width: 100%;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  width: 137px;
  height: 40px;
}

.header__menu-list {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.header__item {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__item:hover .header__link {
  color: #f25822;
}

.header__link {
  transition: color 0.3s ease-in-out;
}

.header__item-list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header__item-list::after {
  content: url(/images/arrow.svg);

  transition: transform 0.3s ease-in-out;
}

.header__item-list:hover::after {
  transform: translateY(2px) rotate(180deg);
}

.home__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.home__meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 50%;
}

.home__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.title__text {
  color: #000;
  font-family: "Inter";
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
}

.subtitle__text {
  color: #888;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

.button__meta {
  display: flex;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.button {
  display: flex;
  width: 140px;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 56px;
  border: 1px solid transparent;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
}

.button__text {
  color: #aaa;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.brend {
  margin-top: 42px;
}

.brend__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.brend__list {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 100px 0px;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.features__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  transition: transform 0.3s ease-in-out;
}

.features__item:hover {
  /* padding: 40px 34px; */
  background: #fff;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  transform: translate3d(100deg);
}

.features__item-image {
  width: 70px;
  height: 70px;
}

.button-card {
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: #000;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.services__container {
  display: flex;
  width: 1920px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  
}

.services__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.services__title-text {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.services__title-paragraph {
  color: #888;
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  width: 60%;
}

.services__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.services__down-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.title__down-block-text {
  color: #000;
  text-align: center;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 700;
}

.title__paragreph-text {
  color: #666;
  text-align: center;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}